body{
    /* background-color: #FAF1E6; */
    background-color: #8CC0DE;
    color: black;
    margin: 0   ;
    padding: 20px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logout{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 20px;
    border:none;
    transition :0.5s;
    background:transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}
.menu{
    margin: 0;
    font-family: 'Pacifico';
    font-size: 17px;
    transition: 0.5s;
}

.sidebar {
    height: 100%;
    width: 0; /* Initially hidden */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur(3.5px );
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition for opening/closing */
    padding-top: 60px;
  }
  .rightsidebar {
    height: 100%;
    width: 0; /* Initially hidden */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #111; */
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur(3.5px );
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition for opening/closing */
    padding-top: 60px;
  }
  
  .sidebar div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .rightsidebar div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .sidebar div:hover  .rightsidebar div:hover{
    color: #f1f1f1;
  }

  
  .sidebar  .rightsidebar{
    background-color: transparent;
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .rightclosebtn,  .closebtn{
    background-color: transparent;
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .rightpanelBtn{
    border:none; background-color:transparent; font-size:25px; color:white;
    transition:0.5s;
  }
  
  #tab{
    display: flex;
    align-items: center;
    gap: 50px;
    transition:0.5s;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .rightbtn{
    transition: 0.5s;
    position: absolute;
    top: 120px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  .openbtn {
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  /* .openbtn:hover {
    background-color: #444;
  }
   */
  /* Media query for smaller screens */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .sidebar .closebtn {
      font-size: 25px;
      top: 0;
      right: 10px;
    }
  }
  @media (max-width: 768px) {
    .month {
      margin: 5px;
    }
    .weekdays div {
      font-size: 12px;
    }
    .days div {
      padding: 5px;
      font-size: 12px;
    }
  }
  /* Adjust event display for smaller screens */
@media (max-width: 480px) {
    .day-events {
      display: flex;
      flex-direction: column;
    }
    .event-dot {
      margin-bottom: 2px;
    }
  }  
  
  @media (max-width: 480px) {
    .month {
      margin: 2px;
    }
    .weekdays div {
      font-size: 10px;
    }
    .days div {
      padding: 2px;
      font-size: 10px;
    }
  }


.yearly-calendar{

 

    /* background: #BAD8B6; */
    background: #D4E7C5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 1400px;
    margin-left: 0;
    transition: 0.5s;
    /* margin: 0 auto; */
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header h1{
    margin: 0;
    font-size: 2em;
}

 .months{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 20px;
}

.month{
    border: 1px solid #ddd;
    border-radius:  10px;
    padding: 10px;
    /* background-color: #E4EFE7; */
    background-color: #E4EFE7;
}
.weekdays, .days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 15px;
    height: fit-content;
}
    
.weekdays div{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 10px;
}
        

.days div{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px #ddd;
    cursor: pointer;
}
.days div:hover{
    background-color: #C4D9FF;
}

button {
    background: #FDFAF6;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.form-container {
    margin-bottom: 20px;
    transition: 0.5s;

}
.form-container input {
    margin-right: 10px;
}
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7) Semi-transparent #A5B68D;
    display: none; 
    /* justify-content: center;  */
    /* align-items: center;  */
    z-index: 1000; 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s;
}
.popup h2{
    margin-left: 20px;
    font-size: 30px;
}
.popup label{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    /* margin: 20px; */
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    padding: 10px;
}
.popup button{
    margin-top: 30px;
    margin-left: 20px;
}
.popup {
    /* background-color: darkslategray; */
    background-color:#D4E7C5;
    /* box-shadow: 0 10px 0 10px; */
    padding: 40px;
    font-family: 'Pacifico';
    border: #BAD8B6 solid 2px;
    border-radius: 10px;
    position: relative; 
    color: #000;
    /* transition: 0.5s; */

    height: 100%;
    /* width: 0; Initially hidden */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* width: 250px;  */
}

.popupTextBox{
    background-color: white;
    color: black;
    border: 2px;
    font-size: medium;
    border-radius: 5px;
    margin: 20px;
    margin-left: 20px;
    padding: 10px;
}
.popupTextBoxFirst{
  background-color: white;
  color: black;
  border: 2px;
  font-size: medium;
  border-radius: 5px;
  margin: 20px;
  margin-left: 55px;
  padding: 10px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    border:none;
    background:transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

#recurrence{
    display: none;
    margin-left: 40px;
}
#custom_recurrence_type_div{
    display: none;
    margin-left: 40px;
}
#custom_recurrence_type_daily_div{
  display: none;
  margin-left: 40px;
}
#day_of_week_div{
    display: none;
    margin-left: 40px;
}
#date_of_month_div{
    display: none;
    margin-left: 40px;
}
#month_of_year_div{
    display: none;
    margin-left: 40px;
}
#recurrence_interval_div{
    display: none;
    margin-left: 40px;
}



.day-events {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    margin-top: 2px;
}

.event-dot {
    width: 3px;
    height: 3px;
    background-color: #FEBF63;
    border-radius: 90%;
    /* cursor: pointer; */
}

.event-more {
    font-size: 0.7em;
    color: #666;
    cursor: pointer;
}
/* button:hover {
    background: #FDFAE6;
} */